.contentBody {
  grid-template-columns: [line-1] 20% [line-2] auto [line-3];
}

.mainBody {
  grid-column-start: line-2;
  grid-column-end: auto;

  height: 80vh;
  overflow: scroll;
}

.navigation {
  grid-column-start: line-1;
  grid-column-end: line-2;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navigation Animation ---------------------------------------------------------------------------------------------------------- */

.sideAnimation {
  animation: pulsate 3s linear 3s 2;
}

@keyframes pulsate {
  100% {
    transform: none;
  }
  /* 75% {
    transform: scaleY(1.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } */
  50% {
    transform: scaleY(1.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* 25% {
    transform: scaleY(1.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } */
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Hi Animation --------------------------------------------------------------------------------------------------- */

/* .partA {
  text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076, 9px 9px #2b4454,
    12px 12px 0 #1a2932;
  font-weight: 400;
  text-transform: none;

  margin: 0;
  color: #213440;
  color: #4e7b97;
  background-color: white;
  background-clip: text;
  animation: shadows 1.8s ease-in infinite, move 1.8s ease-in infinite;
  letter-spacing: 0.4rem;
} */
/* 
@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 #4e7b97;
  }
  20% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076;
  }
  30% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076, 9px 9px #2b4454;
  }
  40% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076, 9px 9px #2b4454,
      12px 12px 0 #1a2932;
  }
  50% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076, 9px 9px #2b4454,
      12px 12px 0 #1a2932;
  }
  60% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076, 9px 9px #2b4454,
      12px 12px 0 #1a2932;
  }
  70% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076, 9px 9px #2b4454;
  }
  80% {
    text-shadow: 3px 3px 0 #4e7b97, 6px 6px 0 #3d6076;
  }
  90% {
    text-shadow: 3px 3px 0 #4e7b97;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
} */

/* ------------------------------------------------------------------------------------------- */

/* Text flip Animation code  ---------------------------------------------------------------*/

.wavy {
  position: relative;
}
.wavy span:not(:first-child) {
  position: relative;
  display: inline-block;

  animation: flip 3s infinite;
}

/* .wavy span:nth-child(2) {
  animation-delay: 0.2s;
}

.wavy span:nth-child(3) {
  animation-delay: 0.4s;
}

.wavy span:nth-child(4) {
  animation-delay: 0.6s;
}

.wavy span:nth-child(5) {
  animation-delay: 0.8s;
}

.wavy span:nth-child(6) {
  animation-delay: 1s;
}

.wavy span:nth-child(7) {
  animation-delay: 1.2s;
}
.wavy span:nth-child(8) {
  animation-delay: 1.4s;
}
.wavy span:nth-child(9) {
  animation-delay: 1.6s;
} */

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

/* --------------------------------------------------------------------------------------------------- */

/* sine Amination -------------------------------------------------------------------------------------- */
.sinosodal {
  position: relative;
}

.sinosodal span {
  position: relative;
  display: inline-block;
  animation: sinewave 2s infinite;
}
.sinosodal span:nth-child(1) {
  animation-delay: 0.25s;
}
.sinosodal span:nth-child(2) {
  animation-delay: 0.5s;
}
.sinosodal span:nth-child(3) {
  animation-delay: 0.75s;
}
.sinosodal span:nth-child(4) {
  animation-delay: 1s;
}

@keyframes sinewave {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* ------------------------------------------------------------------------------------------------------ */
